{% extends 'movies/base.html' %}

{% block title %}Películas - Movie Store{% endblock %}

{% block content %}
    <h1>Todas las Películas</h1>
    
    <div class="movie-grid">
        {% for movie in movies %}
            <div class="card">
                <h2>{{ movie.title }}</h2>
                {% if movie.poster %}
                    <img src="{{ movie.poster }}" alt="{{ movie.title }}" style="max-width: 200px;">
                {% endif %}
                <p><strong>Año:</strong> {{ movie.release_year }}</p>
                <p><strong>Género:</strong> <a href="{% url 'movies:genre_detail' movie.genre.pk %}" class="tag">{{ movie.genre.name }}</a></p>
                <p><strong>Directores:</strong>
                    {% for director in movie.directors.all %}
                        <a href="{% url 'movies:director_detail' director.pk %}" class="tag">{{ director.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p>{{ movie.description|truncatewords:30 }}</p>
                <a href="{% url 'movies:movie_detail' movie.pk %}" class="button">Ver detalles</a>

            </div>
        {% empty %}
            <p>No hay películas disponibles.</p>
        {% endfor %}
    </div>
{% endblock %}